@font-face {
  font-family: 'Inconsolata', monospace;
  src: url(font/Inconsolata-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #232323;
}

.header li{
  text-decoration: none;
  list-style: none;
  text-align: center;
  color: #fff;
  opacity: 90%;
}

.main-section {
  margin-top: 10vh;
  text-align: center;
  align-items: center;
}

.main-section p {
  margin-top: 10vh;
  color: #fff;
}

.people {
  margin-top: 10vh;
  text-align: center;
  align-items: center;
}

.vito {
  color: #fff;
}

.jj {
  color: #fff;
}

.zumo {
  color: #fff;
}

.minfs {
  color: #fff;
}

.promotion {
  margin-top: 15vh;
  display: flex;
}

.cloumn {
  flex: 100%;
  padding: 20px;
  text-decoration: none;
  list-style: none;
  align-items: center;
  text-align: center;
}
